{% extends 'base.html' %}

{% block script %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false"></script>
    <script>
        var lat = {{ details.0 }};  // the first coordinate, latitude
        var lng = {{ details.1 }};  // the second coordinate, longitude
        var map;
        var latlngset = new google.maps.LatLng(lat, lng);
        function initialize() {
            var mapOptions = {
                zoom: 14,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
            map.setCenter(latlngset);
            var marker = new google.maps.Marker({
                map: map, title: '{{ location }}', position: latlngset
            });
            var content = '<h4>' + '{{ location }}' + '</h4>' + '<p>Is located at ' + lat + ', ' + lng + '</p>' ;
            var infowindow = new google.maps.InfoWindow();
            infowindow.setContent(content);
            google.maps.event.addListener(
                marker,
                'click',
                infowindow.open(map, marker)
            );
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}

{% block style %}
    #map-canvas {
        margin: 0;
        padding: 0;
        height: 500px;
    }
{% endblock %}


{# add to html where you want the map: <div id="map-canvas"></div> #}


{% block content %}

<div class="row">
  <div class="col-md-6">
    {{ location }}
    {% if location.locu_id %}
     -- {{ location.locu_id }}
    {% elif location.four_id %}
     -- {{ location.four_id }}
    {% endif %}
    {{ details }}
  </div>

  <div class="col-md-6">
    <div id="map-canvas"></div>
  </div>
</div>

{% endblock %}
